{% extends "base.html" %}

{% block import %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/creditos.css') }}">
{% endblock %}

{% block content %}

<ul class="links">
    <li><a href="https://www.freepik.com/free-vector/space-objects-sketch-set_4628363.htm#query=sketch%20telescope&position=14&from_view=search&track=ais" target="_blank">Image by macrovector_official on Freepik</a></li>
    <li><a href="https://www.freepik.com/free-vector/hand-drawn-science-education-background_7546631.htm#query=science&position=0&from_view=search&track=sph" target="_blank">Image by Freepik</a></li>
    <li><a href="https://www.freepik.com/free-vector/chemistry-icon-set_5754018.htm#query=physics&position=3&from_view=search&track=sph" target="_blank">Image by gstudioimagen on Freepik</a></li>
    <li><a href="https://www.freepik.com/free-vector/man-getting-award-writing_8610200.htm#&position=0&from_view=search&track=ais" target="_blank">Image by pch.vector on Freepik</a></li>
    <li><a href="https://www.freepik.com/free-vector/realistic-light-bulbs-transparent-background_5914128.htm#query=light%20bulb&position=4&from_view=search&track=ais" target="_blank">Image by pikisuperstar on Freepik</a></li>
    <li><a href="https://www.freepik.com/free-vector/metal-hawser-rope-steel-cord-different-sizes-silver-colored-twisted-cables-strings-decorative-sewing-items-industrial-objects-isolated-set_13485041.htm#query=cabo%20de%20a%C3%A7o&position=0&from_view=search&track=ais" target="_blank">Image by upklyak on Freepik</a></li>
    <li><a href="https://www.freepik.com/free-vector/people-icon-collection_1157380.htm#query=person%20icon&position=0&from_view=search&track=ais" target="_blank">Image by muammark on Freepik</a></li>
    <li><a href="https://www.freepik.com/free-vector/set-six-round-metal-badge-element-banner-retro-style_58527117.htm#page=2&query=medal&position=17&from_view=search&track=sph" target="_blank">Image by starline on Freepik</a></li>
    <li><a href="https://www.freepik.com/free-vector/check-mark-cross-symbols-flat-styles_18141266.htm#query=check&position=0&from_view=search&track=sph" target="_blank">Image by starline on Freepik</a></li>
</ul>
{% endblock %}